$colorHeader:#fff;
$mainColor:#555555;
$mainFont: 'Montserrat Alternates', sans-serif;
$font-family: 'Roboto Slab', serif;


header{
    background-image: url(../img/main.jpg);
    font-family: $mainFont;
    height: auto;
    padding-top: 40px;
    .logo{
        color: $colorHeader;
        &:hover{
            text-decoration: none;
            font-size: 25px;
        }
    }
    ul{
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $colorHeader;
            &:hover{
                text-decoration: none;
                font-size: 18px;
                color: $colorHeader;
            }
        }
    }
}
.position{
    position: relative;
}
.topDiv{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.38);
    position: absolute;
    top:0;
    left: 0;

}
.header-welcome{
    color:  $colorHeader;
    text-transform: uppercase;
    font: {
        family: $mainFont;
        size: 30px;
        weight: bold;
    }
    margin-top: 257px;
    margin-bottom: 25px;
    text-align: center;
}

.header-welcome+p{
    color:  $colorHeader; 
    text-align: center;
    margin-bottom: 42px;
}

.btn{
    display: block;
    margin: 0 auto;
    margin-bottom: 253px;
}