$colorHeader:#fff;
$mainColor:#555555;
$secondColor:#C40E0E;
$mainFont: 'Oswald', sans-serif;
$font-family: 'Lobster Two', sans-serif;
$secondFont: 'Noto Serif JP', sans-serif;
%textDecor {
	line-height: 20px;
	font: {
		family: $secondFont;
		size: 14px;
	}
}
header {
	background-image: url(../img/main.jpg);
	font-family: $mainFont;
	height: auto;
	padding-top: 40px;
	position: relative;
	.logo {
		color: $colorHeader;
		transition: all 0.5s ease;
		&:hover {
			text-decoration: none;
			font-size: 18px;
		}
		&:focus {
			outline: none;
		}
	}
	ul {
		display: flex;
		justify-content: space-around;
		a {
			text-decoration: none;
			color: $colorHeader;
			transition: all 0.5s ease;
			&:hover {
				text-decoration: none;
				font-size: 18px;
				color: $colorHeader;
			}
		}
	}
}
.dropdown {
	display: none;
}
.topDiv {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.header-welcome {
	color: $colorHeader;
	text-transform: uppercase;
	font: {
		family: $secondFont;
		size: 30px;
		weight: bold;
	}
	margin-top: 257px;
	margin-bottom: 25px;
	text-align: center;
}
.header-welcome+p {
	color: $colorHeader;
	text-align: center;
	margin-bottom: 42px;
	font-family: $secondFont;
}
.btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 253px;
}
/* Второй блок */

.service {
	padding: 60px;
	color: $mainColor;
	h3 {
		text-align: center;
		font: {
			family: $mainFont;
			size: 20px;
		}
		text-transform: uppercase;
	}
	p {
		font: {
			family: $font-family;
			size: 16px;
		}
		text-align: center;
	}
}
.block {
	text-align: center;
	color: $mainColor;
	margin-top: 6px;
	margin-bottom: 90px;
	img {
		margin: 20px;
		transition: all 0.5s ease;
		&:hover {
			/*  transform: scale(1.1,1.1); */
			transform: scaleX(-1);
			cursor: pointer;
		}
	}
	h4 {
		text-transform: uppercase;
		font: {
			family: $mainFont;
			size: 14px;
			weight: bold;
		}
		margin-bottom: 25px;
	}
	p {
		@extend %textDecor;
	}
}
/* Третий блок */

.even-section {
	background-color: rgba(128, 128, 128, 0.26);
	.section-text {
		@extend %textDecor;
		margin-bottom: 69px;
	}
}
.staff-member {
	height: 245px;
	width: 260px;
	overflow: hidden;
	position: relative;
	&:hover>.staff-member-hover {
		display: block;
		cursor: pointer;
	}
}
.staff-member-hover {
	background: rgba(128, 128, 128, 0.4);
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: none;
	.staff-icons {
		display: flex;
		justify-content: center;
		margin: 178px auto 28px;
		img {
			margin: 5px;
			padding: 7px;
			&:hover {
				background: $secondColor;
			}
		}
	}
}
.staff-member-info {
	margin-top: 16px;
	margin-bottom: 96px;
	text-align: center;
	h4 {
		text-transform: uppercase;
		font: {
			family: $mainFont;
			size: 14px;
			weight: bold;
		}
	}
	p {
		@extend %textDecor;
		margin-top: 14px;
	}
}
/* Третья секция */

.service {
	ul {
		display: flex;
		justify-content: space-around;
		width: 60%;
		margin: 0 auto;
		text-align: center;
		a {
			color: $mainColor;
			&:hover {
				text-decoration: none;
				color: $secondColor;
			}
		}
	}
}
/* Галерея */

.gallary {
	overflow: hidden;
	position: relative;
	height: 315px;
	width: 357px;
	margin-bottom: 20px;
	transition: all 5.5s ease;
	&:hover>.red-cover {
		display: block;
	}
	img {
		height: 100%;
		width: 100%;
	}
}
.red-cover {
	position: absolute;
	background-color: $secondColor;
	opacity: 0.6;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	padding-top: 25%;
	line-height: 35px;
	color: $colorHeader;
	margin: 0 15px;
	display: none;
	h4 {
		font-size: 18px;
		font-family: $secondFont;
	}
	span {
		display: block;
		font-size: 12px;
		font-family: $font-family;
	}
	button {
		padding-left: 17px;
		padding-right: 17px;
		font-family: $secondFont;
		font-size: 14px;
		text-transform: uppercase;
		color: $secondColor;
		font-weight: bold;
		&:hover {
			background-color: white;
			cursor: pointer;
			border: none;
			transform: scale(1.1, 1.1)
		}
		img {
			height: 5px;
			width: 5px;
			margin: 2px;
		}
	}
}
/* четвертая секция */

.getTouch {
	background-image: url(../img/main-bottom.jpg);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	position: relative;
}
.touch {
	text-align: center;
	margin-top: 95px;
	color: $colorHeader;
	button {
		margin-top: 50px;
		text-transform: uppercase;
		font-size: 18px;
		padding: 10px;
		&:hover {
			cursor: pointer;
			border: 2px solid $colorHeader;
		}
	}
	p {
		line-height: 25px;
		margin-bottom: 25px;
		font: {
			size: 30px;
			family: $secondFont;
		}
	}
}
.btn-touch {
	display: block;
	margin: 0 auto;
	margin-bottom: 95px;
}
/* Пятая секция */

.our-brands {
	text-align: center;
	margin-bottom: 50px;
	p {
		margin: 20px;
		color: $mainColor;
		line-height: 25px;
		text-align: center;
		font: {
			style: italic;
			family: $font-family;
			size: 20px;
		}
	}
	span {
		color: $mainColor;
		margin: 28px 0;
		display: inline-block;
		font: {
			family: $mainFont;
			size: 25px;
		}
	}
}
.brands {
	display: flex;
	justify-content: space-between;
	margin: 60px 0;
	li {
		margin: 15px;
	}
}
/*  */

.contacts {
	margin-left: 10px;
	margin-top: 30px;
}
.contact-list {
	h4 {
		@extend %textDecor;
		text-transform: uppercase;
		color: $mainColor;
	}
	p {
		color: $mainColor;
		line-height: 16px;
		padding-left: 18px;
		padding-top: 20px;
		font: {
			size: 12px;
			family: $mainFont;
		}
	}
}
.contact-adress::before {
	content: url(../img/fa-map-marker.png);
	margin-right: 10px;
}
.contact-phone::before {
	content: url(../img/fa-mobile-phone.png);
	margin-right: 10px;
}
.contact-mail::before {
	content: url(../img/fa-envelope-o.png);
	margin-right: 10px;
}
input[type=text], input[type=email] {
	width: 40%;
	margin: 10px;
	padding: 10px;
	color: $mainColor;
	&:focus {
		outline: none;
	}
	&:hover {
		border: 1px solid black;
	}
}
textarea {
	width: 90%;
	margin: 10px;
	padding: 10px;
	&:hover {
		border: 1px solid black;
	}
	&:focus {
		outline: none;
	}
}
input[type=submit] {
	width: 20%;
	margin: 10px;
	padding: 10px;
	color: $mainColor;
	text-transform: uppercase;
	font: {
		size: 15px;
		family: $mainFont;
	}
	&:hover {
		cursor: pointer;
		background-color: $colorHeader;
		border: 1px solid black;
	}
}
form {
	margin-bottom: 50px;
}
::-webkit-input-placeholder {
	text-transform: uppercase;
}
::-moz-placeholder {
	text-transform: uppercase;
}
:-moz-placeholder {
	text-transform: uppercase;
}
:-ms-input-placeholder {
	text-transform: uppercase;
}
/* footer */

footer {
	background-color: $secondColor;
	.social {
		display: flex;
		justify-content: center;
		img {
			margin: 8px;
			transition: all 0.8s ease;
			&:hover {
				cursor: pointer;
				transform: scale(1.1, 1.1);
			}
		}
	}
}
.service {
	p {
		color: $colorHeader;
	}
}
@media (max-width: 992px) {
	input[type=submit] {
		width: 80%;
		margin: 10px 40px;
		padding: 10px;
		color: $mainColor;
		text-transform: uppercase;
	}
	.service {
		padding: 20px;
	}
	.contact-list p {
		padding-bottom: 10px;
		padding-top: 5px;
	}
	.brands {
		flex-wrap: wrap;
	}
	.touch p, .header-welcome {
		font-size: 20px;
	}
	.nav {
		display: none;
	}
	.dropdown {
		display: block;
	}
	.header-welcome {
		margin-top: 0px;
	}
}