.maid-header {
  background-image: linear-gradient(rgba(132, 102, 81, 0.39), #856851), url("../img/header.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: #fff;
  position: relative; }
  .maid-header .header-content {
    z-index: 10;
    width: 70%;
    margin: 0 auto;
    padding-top: 300px;
    font-family: "Indie Flower", cursive; }
    .maid-header .header-content h1 {
      text-transform: uppercase;
      font-size: 50px;
      font-weight: bold;
      font-family: "Titillium Web", sans-serif;
      line-height: 1.5; }
    .maid-header .header-content button {
      padding: 15px;
      margin: 20px;
      width: 25%;
      border-radius: 5px;
      background-color: #215FA7;
      outline: none;
      border: none;
      transition: all 2s ease;
      box-shadow: 3px 3px 7px #102f52; }
      .maid-header .header-content button:nth-child(2) {
        background-color: #EE65DC; }
      .maid-header .header-content button:nth-child(3) {
        background-color: #65E5EE; }
      .maid-header .header-content button:hover {
        opacity: 1.2;
        box-shadow: 4px 4px 20px #05080b;
        cursor: pointer;
        transform: scale(1.2, 1.2); }
        .maid-header .header-content button:hover a {
          text-decoration: none; }
      .maid-header .header-content button a {
        color: #fff;
        text-decoration: none;
        font-size: 25px; }

.main {
  background-color: rgba(230, 230, 230, 0.57); }
  .main h2 {
    color: #5E2270;
    font-family: "Titillium Web", sans-serif;
    margin-top: 20px; }
  .main .main-imgs {
    background-image: url("../img/abb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px; }

.gallery {
  position: relative; }
  .gallery:hover span {
    font-size: 50px;
    color: #53252E; }
  .gallery:hover::before {
    content: "";
    background-color: rgba(128, 128, 128, 0.23);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px; }
  .gallery span {
    position: absolute;
    left: 30%;
    top: 40%;
    color: #41411D;
    font-size: 40px;
    font-family: "Indie Flower", cursive;
    font-weight: bold; }

.gallery-img {
  margin: 10px;
  height: 280px;
  overflow: hidden; }
  .gallery-img img {
    width: 100%;
    height: 100%; }

.card {
  border: none;
  overflow: hidden; }
  .card:hover {
    transform: scale(1.02, 1.02);
    z-index: 10; }
    .card:hover .img-span, .card:hover .card-info, .card:hover iframe {
      margin: 0; }
  .card h3 {
    margin: 10px;
    margin-top: 0; }
  .card p {
    margin: 10px; }
  .card .img-span {
    height: 250px;
    margin: 10px;
    margin-bottom: 0; }

.one {
  background-image: linear-gradient(gray, black), url("../img/1.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: screen; }

.two {
  background-image: url("../img/2.jpg");
  background-size: cover; }

.card-info {
  background-color: #cdcdcd;
  margin: 0 10px;
  transition: all 0.25s ease; }
  .card-info:hover {
    background-color: #8d7d7d; }

.video {
  margin: 0 10px;
  padding-bottom: 16px;
  margin-right: -10px; }

iframe {
  width: 100%;
  height: 257px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.client-data {
  text-align: center;
  margin: 10px auto;
  width: 100%;
  background-color: lightslategrey;
  padding: 50px; }
  .client-data input {
    width: 20%;
    height: 30px;
    height: 30px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #cdcdcd;
    border: none; }
    .client-data input:focus {
      background-color: #fff;
      outline: none; }
  .client-data button {
    background-color: #2A6881;
    width: 20%;
    height: 60px;
    border: none;
    box-shadow: 3px 3px 10px #444B57;
    font-size: 25px;
    transition: all 0.3s ease; }
    .client-data button:hover {
      transform: scale(1.01, 1.01);
      cursor: pointer; }

.forns {
  padding: 0; }

.icons {
  margin-top: 50px; }
  .icons a {
    margin: 20px; }
    .icons a img {
      width: 35px;
      height: 35px;
      transition: all 0.25s ease; }
      .icons a img:hover {
        transform: scale(1.2, 1.2); }

@media screen and (max-width: 880px) {
  .client-data input {
    width: 80%; }
  .card {
    border: none;
    overflow: hidden; }
    .card .card-info {
      display: none; }
    .card:hover {
      transform: scale(1.01, 1.01); } }

a {
  text-decoration: none; }

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr; }
  .grid header {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    background-image: url("../img/1.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    height: 400px; }
    .grid header .header-text {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr [12];
      grid-template-columns: repeat(12, 1fr);
      -ms-grid-rows: 25px 25px;
      grid-template-rows: 25px 25px;
      background-color: rgba(247, 227, 189, 0.39);
      padding-top: 10px; }
      .grid header .header-text span {
        color: #921313;
        font-weight: bold; }
      .grid header .header-text p {
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 2;
        grid-row-end: 3;
        margin: 0;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 11;
        grid-column-end: 12; }
      .grid header .header-text button, .grid header .header-text input[type=submit] {
        background-color: #921313;
        color: white;
        height: auto;
        border: 1px solid #921313;
        border-radius: 5px;
        padding: 5px; }

aside {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  background-color: wheat; }
  aside .aside-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    aside .aside-grid h3 {
      -ms-grid-column: 1;
      grid-column-start: 1;
      -ms-grid-column-span: 2;
      grid-column-end: 3; }

article {
  background-color: #fff; }
  article .article-img {
    width: 30%;
    float: left;
    padding-right: 10px;
    height: 167px; }
  article .article-text {
    height: 165px; }

.aside-grid input[type=text], .aside-grid input[type=password] {
  margin: 10px; }

.aside-grid .right-text {
  padding: 10px; }

.aside-grid label {
  padding-left: 10px; }

.right-text span {
  margin-top: 20px;
  color: #921313; }

.aside-grid, nav {
  margin-left: 10px;
  padding-left: 10px; }

.stripe {
  background-color: #921313; }
  .stripe a {
    text-decoration: none;
    color: #fff;
    padding-right: 30px; }

.article-main h2 {
  color: #921313; }

h2 + p {
  font-style: italic; }

.nav a {
  color: #921313; }

@media screen and (max-width: 800px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr;
    grid-template-columns: 3fr; }
  aside {
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 2;
    grid-row-end: 7; }
  article, aside {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3; }
  .header-text {
    display: none; }
  .article-text {
    display: none; }
  .article-img {
    width: 100%  !important;
    height: auto;
    float: none; } }

.container-flex {
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  padding-left: 1px; }

.header-flex {
  width: 98%; }
  .header-flex nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px; }
    .header-flex nav .second-logo {
      -ms-flex-item-align: start;
      align-self: flex-start;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.25rem;
      color: gray;
      padding-top: 0.625rem;
      padding-right: 0.5rem; }
    .header-flex nav a {
      text-decoration: none;
      padding: 0.3125rem 1.563rem;
      background-color: #62E962;
      color: white;
      border-right: 0.0625remsolid #fff;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-transform: uppercase;
      height: 20px;
      font-size: 1rem;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: flex-end;
      transition: all 0.25s ease; }
      .header-flex nav a:hover {
        color: #43886D; }
    .header-flex nav .logo {
      text-transform: uppercase;
      font-size: 2.375rem;
      color: #62E962;
      font-weight: bold;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.header-flex-nav-mini {
  display: none; }

.main-img {
  float: left;
  width: 40%;
  padding-right: 1.25rem; }

.text {
  text-align: left;
  color: #7a7979;
  padding-right: 10px; }

article {
  padding-top: 1.25rem; }

h2 {
  margin: 0;
  color: #7a7979; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-between; }
  .main section {
    width: 24%; }
    .main section .main-pict {
      width: 100%;
      height: 10.31rem; }
    .main section .section-content {
      width: 95%;
      color: #7a7979; }
    .main section .section-content-link {
      display: none; }

p + a {
  text-decoration: none;
  color: #000; }

@media (max-width: 960px) {
  html {
    font-size: 14px; }
  .container-flex .header-flex nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 80px; }
  .main {
    display: flex;
    flex-direction: row; }
    .main section {
      position: relative; }
      .main section .main-pict {
        width: 100%;
        height: auto; }
    .main .logo {
      font-size: inherit; } }

@media (max-width: 960px) and (max-width: 750px) {
  html {
    font-size: 14px; }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 50px; }
  .main section {
    position: relative; }
    .main section .section-content {
      display: none; }
    .main section .section-content-link {
      display: block;
      position: absolute;
      left: 0;
      bottom: 10px;
      text-decoration: none;
      font-size: 20px;
      color: #1B4D1B;
      font-weight: bold; }
  .main {
    display: flex;
    flex-direction: column;
    margin: auto; }
    .main section {
      width: 100%;
      margin: 10px; }
      .main section .main-pict {
        width: 95%;
        height: auto; }
    .main .logo {
      font-size: inherit; } }

@media screen and (max-width: 960px) and (max-width: 750px) and (max-width: 600px) {
  .header-flex nav {
    width: 40%;
    float: right; }
    .header-flex nav a {
      display: none; }
  .header-flex-nav-mini {
    display: block;
    position: relative;
    top: 20px;
    padding: 20px;
    color: #7a7979;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #62E962;
    height: 25px;
    width: 50%; }
    .header-flex-nav-mini:hover {
      cursor: pointer; }
      .header-flex-nav-mini:hover .main-menu {
        display: block; }
  .main-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0px;
    background-color: #62E962;
    height: auto; }
    .main-menu .main-menu-item {
      list-style: none;
      padding-left: 1px;
      padding-bottom: 0.3125rem;
      padding-top: 0.6rem; }
      .main-menu .main-menu-item a {
        text-align: center;
        padding-left: 0px;
        padding-bottom: 0.3125rem;
        padding-top: 0.3125rem;
        background-color: transparent;
        color: #fff;
        transition: all 0.25s ease; }
        .main-menu .main-menu-item a:hover {
          color: #43886D; }
  article {
    padding-top: 1.25rem; }
    article .main-img {
      float: left;
      width: 40%;
      padding-right: 1.25rem; }
    article .text {
      text-align: left;
      color: #7a7979; }
    article h2 {
      margin: 0;
      color: #7a7979;
      padding: 0.625rem 0 0.625rem 1px; } }

@media screen and (max-width: 768px) {
  .maid-header {
    background-image: linear-gradient(rgba(132, 102, 81, 0.39), #856851), url("../img/header.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; }
    .maid-header .header-content button {
      width: 90%; } }
