@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.block p, .even-section .section-text, .staff-member-info p, .contact-list h4 {
	line-height: 20px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 14px;
}
a:focus {
	outline: none !important;
}
header {
	background-image: url(../img/main1.jpeg);
	font-family: "Oswald", sans-serif;
	height: auto;
	padding-top: 40px;
	position: relative;
}
header .logo {
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
}
header .logo:hover {
	text-decoration: none;
	color: #C4B6B6;
}
header .logo:focus {
	outline: none;
}
header ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
header ul .nav-item-link {
	text-decoration: none;
	color: #fff;
	font-family: "Oswald", sans-serif;
	/* text-transform: uppercase; */
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
header ul .nav-item-link:hover {
	text-decoration: none;
	color: #C4B6B6;
}
.dropdown {
	display: none;
}
.topDiv {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.header-welcome {
	color: #fff;
	text-transform: uppercase;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 257px;
	margin-bottom: 25px;
	text-align: center;
}
.header-welcome+p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 320px;
	font-family: "Open Sans Condensed", sans-serif;
}
/* Второй блок */

.service {
	padding: 60px;
	color: #777272;
}
.service h3 {
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.service .service-text {
	font-family: "Marck Script", cursive;
	font-size: 18px;
	color: #AD9797;
	text-align: center;
}
.block {
	text-align: center;
	color: #777272;
	margin-top: 6px;
	margin-bottom: 90px;
}
.block img {
	margin: 20px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.block img:hover {
	/*  transform: scale(1.1,1.1); */
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	cursor: pointer;
}
.block h4 {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 25px;
}
/* Третий блок */

.even-section {
	background-color: rgba(128, 128, 128, 0.26);
}
.even-section .section-text {
	font-size: 16px;
	margin-bottom: 29px;
}
.staff-member {
	height: 245px;
	width: 260px;
	overflow: hidden;
	position: relative;
}
.staff-member:hover>.staff-member-hover {
	display: block;
	cursor: pointer;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.staff-member-hover {
	background: rgba(128, 128, 128, 0.4);
	position: absolute;
	top: 0px;
	bottom: 0px;
	text-decoration: none;
	left: 0px;
	right: 0px;
	display: none;
}
.staff-member-hover .staff-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 178px auto 28px;
}
.staff-member-hover .staff-icons .img {
	margin: 5px;
	padding: 7px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: "Marck Script", cursive;
}
.staff-member-hover .staff-icons .img:hover {
	/* 	background: $secondColor; */
	text-decoration: none;
	color: #E2C8C8;
}
.staff-member-info {
	margin-top: 16px;
	margin-bottom: 96px;
	text-align: center;
}
.staff-member-info h4 {
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.staff-member-info p {
	margin-top: 14px;
}
/* Третья секция */

.service ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.service ul a {
	color: #777272;
}
.service ul a:hover {
	text-decoration: none;
	color: #3985A8;
}
/* Галерея */

.gallary {
	overflow: hidden;
	position: relative;
	height: 280px;
	width: 357px;
	margin-bottom: 20px;
	-webkit-transition: all 5.5s ease;
	-o-transition: all 5.5s ease;
	transition: all 5.5s ease;
}
.gallary:hover>.red-cover {
	display: block;
}
.gallary img {
	height: 100%;
	width: 100%;
}
.red-cover {
	position: absolute;
	background-color: #3985A8;
	opacity: 0.6;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	padding-top: 25%;
	line-height: 35px;
	color: #fff;
	margin: 0 15px;
	display: none;
}
.red-cover h4 {
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	padding-bottom: 15px;
}
.red-cover span {
	display: block;
	font-size: 12px;
	font-family: "Marck Script", cursive;
}
.red-cover button {
	padding-left: 17px;
	padding-right: 17px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #3985A8;
	font-weight: bold;
}
.red-cover button:hover {
	background-color: white;
	cursor: pointer;
	border: none;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.red-cover button img {
	height: 5px;
	width: 5px;
	margin: 2px;
}
.widget {
	/* border: 1px solid #F8ECEC; */
	width: 100%;
	height: auto;
	text-align: center;
	color: #C9C0C0;
	background-color: #f7f7f7;
	border-radius: 10px;
	margin-bottom: 20px;
}
/* четвертая секция */

.getTouch {
	background-image: url(../img/main-bottom.jpg);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	height: auto;
	position: relative;
}
.touch {
	text-align: center;
	margin-top: 95px;
	color: #fff;
	/* 	p {
		line-height: 25px;
		margin-bottom: 25px;
		font: {
			size: 30px;
			family: $secondFont;
		}
	} */
}
.touch button {
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px;
	-webkit-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}
.touch button:hover {
	cursor: pointer;
	border: 2px solid #fff;
}
.touch button:hover .button-text {
	text-decoration: none;
	color: #777272;
}
.btn-touch {
	display: block;
	margin: 0 auto;
	margin-bottom: 95px;
}
.button-text {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}
.getTouch-text {
	line-height: 25px;
	margin-bottom: 25px;
	font-size: 27px;
	font-family: "Open Sans Condensed", sans-serif;
}
/* Пятая секция */

.our-brands {
	text-align: center;
	margin-bottom: 50px;
}
.our-brands-header {
	text-align: center;
	color: #797373;
}
/*  */

.contacts {
	margin-left: 10px;
	margin-top: 30px;
}
.contact-list h4 {
	text-transform: uppercase;
	color: #777272;
}
.contact-list p {
	color: #777272;
	line-height: 16px;
	padding-left: 18px;
	padding-top: 20px;
	font-size: 12px;
	font-family: "Oswald", sans-serif;
}
.contact-adress::before {
	content: url(../img/fa-map-marker.png);
	margin-right: 10px;
}
.contact-phone::before {
	content: url(../img/fa-mobile-phone.png);
	margin-right: 10px;
}
.contact-mail::before {
	content: url(../img/fa-envelope-o.png);
	margin-right: 10px;
}
input[type=text], input[type=email] {
	width: 40%;
	margin: 10px;
	padding: 10px;
	color: #777272;
}
input[type=text]:focus, input[type=email]:focus {
	outline: none;
}
input[type=text]:hover, input[type=email]:hover {
	border: 1px solid black;
}
textarea {
	width: 90%;
	margin: 10px;
	padding: 10px;
}
textarea:hover {
	border: 1px solid black;
}
textarea:focus {
	outline: none;
}
input[type=submit] {
	width: 20%;
	margin: 10px;
	padding: 10px;
	color: #777272;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Oswald", sans-serif;
}
input[type=submit]:hover {
	cursor: pointer;
	background-color: #fff;
	border: 1px solid black;
}
input[type=submit]:focus {
	outline: none;
}
form {
	margin-bottom: 50px;
}
::-webkit-input-placeholder {
	text-transform: uppercase;
}
::-moz-placeholder {
	text-transform: uppercase;
}
:-moz-placeholder {
	text-transform: uppercase;
}
:-ms-input-placeholder {
	text-transform: uppercase;
}
/* page */

.header-page {
	font-family: "Oswald", sans-serif;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}
.header-page .logo {
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header-page .logo:hover {
	text-decoration: none;
	color: #C4B6B6;
}
.header-page .logo:focus {
	outline: none;
}
.header-page ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.header-page ul a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.header-page ul a:hover {
	text-decoration: none;
	color: #C4B6B6;
}
.header-welcome-page {
	color: black;
	text-transform: uppercase;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 57px;
	margin-bottom: 25px;
	text-align: center;
}
.header-welcome-page+p {
	color: black;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 42px;
	font-family: "Open Sans Condensed", sans-serif;
}
.page-fa {
	color: #777272;
	margin-right: 3px;
}
.bread-category {
	color: #A79C9C;
	margin-left: 3px;
	font-family: "Open Sans Condensed", sans-serif;
	text-transform: capitalize;
}
.bread-category-link {
	color: #A79C9C;
	margin-left: 3px;
	font-family: "Open Sans Condensed", sans-serif;
	text-transform: capitalize;
}
.bread-category-link:hover {
	color: #756E6E;
	text-decoration: none;
}
.bread h1 {
	color: #777272;
	font-weight: bold;
	margin: 20px 0;
	font-family: "Marck Script", cursive;
	text-transform: capitalize;
	font-size: 30px;
}
.prevue-title {
	color: #777272;
	font-weight: bold;
	margin: 30px 0;
	font-family: "Oswald", sans-serif;
	text-transform: capitalize;
	font-size: 22px;
}
.prevue-title>a {
	text-decoration: none;
	color: #777272;
	-webkit-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}
.prevue-title>a:hover {
	color: #3985A8;
}
.card-prevue {
	width: 335px;
	overflow: hidden;
}
.card-prevue-img {
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	cursor: pointer;
	overflow: hidden;
	height: 220px;
}
.card-prevue-img>a>img:hover {
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	opacity: 0.8;
}
.article-data {
	margin-bottom: 15px;
}
.fa-calendar, .fa-comment-o, .page-autor {
	color: #A79C9C;
}
.page-autor>a {
	color: #777272;
}
.page-autor>a:hover {
	text-decoration: none;
	color: #706969;
}
.page-comment {
	margin-left: 10px;
}
.page-comment-link {
	text-decoration: none;
	color: #A79C9C;
}
.page-comment-link:hover {
	text-decoration: none;
	color: #706969;
}
.entry-date {
	color: #A79C9C;
	margin-left: 5px;
	font-family: "Open Sans Condensed", sans-serif;
}
.article-prevue {
	color: #A79C9C;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
	text-align: justify;
	margin-bottom: 30px;
}
.pagination-button {
	padding: 12px 15px;
	border-radius: 25px;
	background-color: #DAD4D4;
	margin: 5px;
	color: #777272;
}
.pagination-button:hover {
	text-decoration: none;
	color: #fff;
	background-color: black;
}
.push {
	color: #fff;
	background-color: black;
}
.pagination {
	margin-bottom: 20px;
}
#search-sidebar {
	background-color: #f1f1f2;
	border: 1px solid #e5e5e5;
	padding-bottom: 12px;
	padding-top: 12px;
	padding-left: 14px;
	border-radius: 10px;
	width: 80%;
	background-image: url(images/search-magnify.png);
	background-position: top right;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	font-size: 14px;
	outline: none;
	margin-top: 30px;
}
#search-button {
	padding: 14px;
	width: 30%;
	margin-bottom: 10px;
	font-size: 14px;
	background-color: #3985A8;
	border: 1px solid #e5e5e5;
	position: relative;
	right: -30%;
	bottom: 53px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	outline: none;
}
#search-button:focus {
	outline: none;
}
.sidebar-form {
	margin-bottom: 0;
}
.sidebar-notise {
	text-align: left;
	margin-left: 30px;
}
.sidebar-notise ul {
	list-style: square;
}
.sidebar-notise ul li {
	margin: 15px;
}
.sidebar-notise ul li a {
	color: #3985A8;
	font-family: 'Noto Serif', serif;
}
.sidebar-notise ul li a:hover {
	text-decoration: none;
	color: #0C4A64;
}
/* photo-main */

.photo-main {
	text-align: center;
}
.photo-article-header {
	color: #777272;
	font-weight: bold;
	margin: 30px 5px;
	font-family: "Marck Script", cursive;
	font-size: 40px;
}
.photo-main-text {
	color: #A79C9C;
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	text-align: justify;
	margin-bottom: 30px;
}
.photo-article {
	margin-bottom: 60px;
}
.photo-article-title {
	color: #777272;
	font-weight: bold;
	margin: 20px 0;
	font-family: "Oswald", sans-serif;
	text-transform: capitalize;
	font-size: 22px;
}
.photo-article-text {
	font-size: 16px;
	margin: 29px 0;
	font-family: "Oswald", sans-serif;
}
.photo-article-copyright a {
	color: #DFD7D7;
	font-size: 12px;
}
.photo-article-img-wrap {
	max-width: 100%;
	height: 400px;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
img.mfp-img {
	padding: 0;
}
/* single page */

.article-wrap {
	padding: 42px;
}
.main-content {
	font-size: 18px;
	white-space: pre-wrap;
}
.notice-text {
	color: #DFDBDB;
	font-family: "Oswald", sans-serif;
	font-size: 12px;
	margin-bottom: 10px;
}
.notice-link {
	color: #5A5858;
	font-size: 20px;
	font-family: "Open Sans Condensed", sans-serif;
}
.notice-link:hover {
	text-decoration: none;
	color: #3985A8;
}
.post-notice {
	text-align: right;
	margin-bottom: 25px;
}
.comments-header {
	color: #919699;
	font-size: 24px;
	font-weight: bold;
	font-family: "Oswald", sans-serif;
	margin: 20px 0;
}
.comments-link {
	color: #919699;
	font-size: 12px;
}
.comments-link:hover {
	text-decoration: none;
	color: #807A7A;
}
#comment {
	margin-left: 0;
	margin-top: 10px;
	padding: 12px;
	border: 1px solid #dfe3e6;
	border-radius: 3px;
	background-color: #ffffff;
	max-width: 100%;
	color: #000000;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.comments-button {
	color: #fff;
	background-color: #3985A8;
	padding: 15px;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	margin: 20px 0;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	outline: none;
	-webkit-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}
.comments-button:hover {
	color: #3985A8;
	background-color: #fff;
	border: 1px solid #3985A8;
}
.comments-button:focus {
	outline: none;
}
.main-sidebar {
	margin-left: 0;
}
.title-sidebar {
	font-size: 16px;
}
/* 404 */

.notfound {
	text-align: center;
}
.notfound h3 {
	font-size: 20px;
	color: #777272;
	margin-bottom: 50px;
}
.notfound-text {
	margin-top: 130px;
	margin-bottom: 10px;
	font-size: 35px;
	color: #3985A8;
	font-weight: bold;
}
#search404 {
	background-color: #f1f1f2;
	border: 1px solid #e5e5e5;
	padding-bottom: 12px;
	padding-top: 12px;
	padding-left: 14px;
	border-radius: 0px;
	width: 45%;
	background-image: url(images/search-magnify.png);
	background-position: top right;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	font-size: 14px;
	outline: none;
	margin-left: 80px;
}
.search404 p {
	margin-bottom: 10px;
	color: #777272;
	font-size: 16px;
}
#search404-button {
	padding: 14px;
	width: 15%;
	margin-bottom: 10px;
	font-size: 14px;
	background-color: #3985A8;
	border: 1px solid #e5e5e5;
	position: relative;
	right: 15%;
	cursor: pointer;
}
/* widgets */

.widgets-section {
	background-color: #3985A8;
	height: auto;
}
.widgets {
	color: #D6C8C8;
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
}
.widget-title {
	margin: 20px;
}
.footer-widget-list {
	margin: 10px 0;
}
.footer-widget-list .nav-item-footer {
	margin: 5px 0;
	font-size: 14px;
}
.nav-item-link {
	text-decoration: none;
	color: #fff;
	font-family: "Open Sans Condensed", sans-serif;
	/* text-transform: uppercase; */
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nav-item-link:hover {
	text-decoration: none;
	color: #C4B6B6;
}
.tagcloud, .widgets {
	text-align: center;
}
.tag-cloud-link {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	margin: 5px;
	display: inline-block;
	-webkit-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
}
.tag-cloud-link:hover {
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	color: #fff;
}
.footer-widget-list {
	width: 100px;
	height: 100px;
	margin: 10px auto;
}
.footer-widget-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
/* footer */

#toTop {
	border-radius: 50%;
	width: 3.125rem;
	height: 3.125rem;
	background-color: #777272;
	position: fixed;
	right: 1%;
	bottom: 1%;
	text-align: center;
	line-height: 3.125rem;
	cursor: pointer;
	display: none;
}
footer {
	background-color: black;
}
footer .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
footer .social img {
	margin: 8px;
	-webkit-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
footer .social img:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.service p {
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	text-align: center;
}
.service ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
/* social */

.wrapper ul li {
	width: 2.188rem;
	height: 2.188rem;
	margin: 0.9375rem;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	border: 4px solid #fff;
	/*  float: left; */
	position: relative;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.wrapper ul li .fa {
	color: #fff;
	line-height: 26px;
	font-size: 15px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.wrapper ul li:hover.change {
	border: 5px solid #3985A8;
	-webkit-box-shadow: 0 0 0.9375rem #BEE2F3;
	box-shadow: 0 0 0.9375rem #BEE2F3;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateX(10px) rotate(360deg);
	-ms-transform: translateX(10px) rotate(360deg);
	transform: translateX(10px) rotate(360deg);
}
.wrapper ul li:hover .fa {
	color: #3985A8;
	text-shadow: 0 0 0.9375rem #BEE2F3;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
@media (max-width: 992px) {
	.header-page {
		height: 150px;
	}
	input[type=submit] {
		width: 80%;
		margin: 10px 40px;
		padding: 10px;
		color: #777272;
		text-transform: uppercase;
	}
	input[type=submit]:focus {
		outline: none;
	}
	.service {
		padding: 20px;
	}
	.contact-list p {
		padding-bottom: 10px;
		padding-top: 5px;
	}
	.brands {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.touch p, .header-welcome {
		font-size: 20px;
	}
	.nav {
		display: none;
	}
	.dropdown {
		display: block;
	}
	.header-welcome {
		margin-top: 0px;
	}
	.wrapper ul li {
		width: 25px;
		height: 25px;
		border: 3px solid #fff;
	}
	.wrapper ul li .fa {
		font-size: 10px;
		line-height: 5px;
	}
	ul.nav {
		display: none;
	}
	#search404-button {
		width: 20%;
	}
}
@media (max-width: 600px) {
	.wrapper ul li {
		width: 30px;
		height: 30px;
		border: 3px solid #fff;
	}
	.wrapper ul li .fa {
		font-size: 15px;
		line-height: 15px;
		padding: 5px;
	}
	.nav {
		display: none;
	}
	ul.nav {
		display: none;
	}
	#search404 {
		width: 100%;
		margin-left: 0;
	}
	#search404-button {
		width: 30%;
		left: 50%;
		bottom: 53px;
	}
}
.f-nav {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: block;
	background-color: #fff;
	padding: 10px;
}