
.container-flex {
	max-width: 90%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background-color: #fff;
    padding-left: 1px;
}
    .header-flex{
        width: 98%;
        nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            height: 50px;
            
            .second-logo {
                -ms-flex-item-align: start;
                    align-self: flex-start;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.25rem;
                color: gray;
                padding-top: 0.625rem;
                padding-right: 0.5rem;
            }
            a {
                text-decoration: none;
                padding: 0.3125rem 1.563rem;
                background-color: #62E962;
                color: white;
                border-right: 0.0625remsolid #fff;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-transform: uppercase;
                height: 20px;
                font-size: 1rem;
                -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: flex-end;
                    transition: all 0.25s ease;
                &:hover{
                 color: #43886D;
                }    
            }
            .logo {
                text-transform: uppercase;
                font-size: 2.375rem;
                color: #62E962;
                font-weight: bold;
                -ms-flex-item-align: center;
                    -ms-grid-row-align: center;
                    align-self: center;
            }
    
    }
    }

    .header-flex-nav-mini{
        display: none;
    }

    .main-img {
        float: left;
        width: 40%;
        padding-right: 1.25rem;
    }
    .text {
        text-align: left;
        color: rgb(122, 121, 121);
        padding-right: 10px;
    }
    article {
        padding-top: 1.25rem;
    }
    h2 {
        margin: 0;
        color: rgb(122, 121, 121);
    }
.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: distribute;
        justify-content: space-between;
    section {
     width: 24%; 
    .main-pict {
        width: 100%;
        height: 10.31rem;
    }
    .section-content {
        width: 95%;
        color: rgb(122, 121, 121);
    }
    .section-content-link{
        display: none;
    }
}
    }    
        
        


p+a {
	text-decoration: none;
	color: #000;
}


@media (max-width: 960px) {
	html {
		font-size: 14px;
    }
    .container-flex{
        .header-flex{
            nav {       
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                height: 80px;
            }
        }

    
    }
	

	
	.main {

		display: flex;	
        flex-direction: row;
        section{
            position: relative;

        .main-pict {
            width: 100%;
            height: auto;
            
        }        
}
  
    

	.logo {
		font-size: inherit;
    }
    

}

@media (max-width: 750px) {
	html {
		font-size: 14px;
	}
	nav {       
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: 50px;
    }
    .main{
        section{
            position: relative;
            .section-content {
                display: none;
            }
            .section-content-link{
                display: block;
                position: absolute;
                left: 0;
                bottom: 10px;
                text-decoration: none;
                font-size: 20px;
                color: #1B4D1B;
                font-weight: bold;
            }
        }
        
    }
   
	.main {
		display: flex;	
        flex-direction: column;
        margin: auto;
        section{   
            width: 100%;
        margin: 10px;
      
            .main-pict {
                width: 95%;
                height: auto;                
            }   
        }
    	.logo {
            font-size: inherit;
        }
               
}




@media screen and (max-width: 600px){

    .header-flex nav {
        width: 40%;
        float: right;
        a {
            display: none;
        }
    }

 
.header-flex-nav-mini{
    display: block;
    position: relative;
    top:20px;
    padding: 20px;
    color: rgb(122, 121, 121);
    text-transform: uppercase;
    font-weight: bold;
    background-color: #62E962;
    height: 25px;
    width: 50%;
    &:hover{
        cursor: pointer;
        .main-menu{
            display: block;
            
        }
    }
}
.main-menu{
    display: none;
    position: absolute;
    top:50px;
    left: 0;
    padding: 0px;
   background-color: #62E962;
   height: auto;
    .main-menu-item{
        list-style: none;
        padding-left: 1px;
        padding-bottom: 0.3125rem;
        padding-top: 0.6rem;   
         
        a{
            text-align: center;
            padding-left: 0px;
            padding-bottom: 0.3125rem;
            padding-top: 0.3125rem;
            background-color: transparent;
            color: #fff;    
            transition: all 0.25s ease;
            &:hover{
             color: #43886D;
            }    
        }
        
    }
}


article {
    padding-top: 1.25rem;
    .main-img {
        float: left;
        width: 40%;
        padding-right: 1.25rem;
    }
    .text {
        text-align: left;
        color: rgb(122, 121, 121);
    }
    h2 {
        margin: 0;
        color: rgb(122, 121, 121);
        padding: 0.625rem 0 0.625rem 1px;
    }
}
}

}}