
a {
	text-decoration: none;
}
.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 2fr 1fr;
	grid-template-columns: 2fr 1fr;
	
  
    header {
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 2;
        grid-column-end: 3;
        background-image: url("../img/1.jpeg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: -ms-grid;
        display: grid;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        height: 400px;
        .header-text {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (1fr)[12];
            grid-template-columns: repeat(12, 1fr);
            -ms-grid-rows: 25px 25px;
            grid-template-rows: 25px 25px;
            background-color: rgba(247, 227, 189, 0.39);
            padding-top: 10px;
             span {
                color: #921313;
                font-weight: bold;
            }
            p {
                -ms-grid-row: 1;
                grid-row-start: 1;
                -ms-grid-row-span: 2;
                grid-row-end: 3;
                margin: 0;
                -ms-grid-column: 1;
                grid-column-start: 1;
                -ms-grid-column-span: 11;
                grid-column-end: 12;
            }
             button, input[type=submit] {
                background-color: #921313;
                color: white;
                height: auto;
                border: 1px solid #921313;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }

}

aside {
	-ms-grid-row: 2;
	grid-row-start: 2;
	-ms-grid-row-span: 3;
	grid-row-end: 5;
	-ms-grid-column: 2;
	grid-column-start: 2;
	-ms-grid-column-span: 1;
	grid-column-end: 3;
    background-color: wheat;
    .aside-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
        -ms-grid-rows: 2fr 4fr;
        grid-template-rows: 2fr 4fr;
        grid-column-gap: 20px;
        grid-row-gap: 25px;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
      h3 {
            -ms-grid-column: 1;
            grid-column-start: 1;
            -ms-grid-column-span: 2;
            grid-column-end: 3;
        }
        
        
    }
}
article {
    background-color: #fff;
    .article-img {
        width: 30%;
        float: left;
        padding-right: 10px;
        height: 167px;
    }
    .article-text {
        height: 165px;
    }
}

.aside-grid{
    input[type=text], input[type=password] {
        margin: 10px;
    }
    .right-text {
        padding: 10px;
    }
    label {
        padding-left: 10px;
    }

}



.right-text span {
	margin-top: 20px;
	color: #921313;
}

.aside-grid, nav {
	margin-left: 10px;
	padding-left: 10px;
}

.stripe {
    background-color: #921313;
     a {
        text-decoration: none;
        color: #fff;
        padding-right: 30px;
    }
}

.article-main{
    h2 {
        color: #921313;
    }
}

h2+p {
	font-style: italic;
}
.nav a {
	color: #921313;
}
@media screen and (max-width: 800px) {
	.grid {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 3fr;
		grid-template-columns: 3fr;
	

	}
	aside {
		-ms-grid-row: 5;
		grid-row-start: 5;
		-ms-grid-row-span: 2;
		grid-row-end: 7;
	}
	article, aside {
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-column-span: 2;
		grid-column-end: 3;
	}
	.header-text {
		display: none;
	}
	.article-text {
		display: none;
	}
	.article-img {
		width: 100%  !important;
		height: auto;
		float: none;
	}
}