$main-color:#fff;
$main-size:10px;
$font:'Indie Flower', cursive;
$font-second:'Titillium Web', sans-serif;

.maid-header{
  background-image:  linear-gradient( rgba(132, 102, 81, 0.39), hsl(26, 24%, 42%) ) ,  url('../img/header.jpg');
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: $main-color;
  position: relative;
  .header-content{
      z-index: 10;
      width:70%;
      margin: 0 auto;
      padding-top:300px;
      font-family: $font;
      h1{
          text-transform: uppercase;
          font-size: $main-size*5;
          font-weight: bold;
          font-family: $font-second;
          line-height: 1.5;
      }
      button{
          padding: $main-size*1.5;
          margin: $main-size*2;
          width: 25%;
          border-radius: 5px;
          background-color: #215FA7;
          outline: none;
          border: none;  
          transition: all 2s ease;        
          box-shadow: 3px 3px 7px darken(#215FA7, 20%);
          &:nth-child(2){
            background-color: #EE65DC; 
          }
          &:nth-child(3){
            background-color: #65E5EE; 
          }
          &:hover{              
              opacity: 1.2;
              box-shadow: 4px 4px 20px darken(#A4B9D1, 70%);
              cursor: pointer;
              transform: scale(1.2,1.2);
              a{
                text-decoration: none;                 
              }
          }
          a{
            color: $main-color;
            text-decoration: none;
            font-size:  $main-size*2.5;
          }
      }
  }
}

@import "bootstrap";
@import "grid";
@import "flex";

@media screen and (max-width:768px){
    .maid-header{
        background-image:  linear-gradient( rgba(132, 102, 81, 0.39), hsl(26, 24%, 42%) ) ,  url('../img/header.jpg');
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        .header-content{
            button{
                width: 90%;
            }
        } 
    }
    
}
    
